{% extends 'base.html' %}

{% block title %} Boggle Game {% endblock %}

{% block content %}
<h1>The game homepage</h1>
    <div class="col-5">
      <table class="table table-bordered" id="words-table">
        {%for i in range(5)%}
        <tr>
          {% for j in range(5) %}
          <td>
            <div class="content">{{board[i][j]}}</div>
          </td>
          {% endfor%}
        </tr>
        {%endfor%}
      </table>

      <form>
        <input type="input" placeholder="Enter Your Word" name="word" id="word-submit">
        <button type="submit" class="btn btn-warning">submit</button>
      </form>
    </div>
{% endblock %}