{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="m-5 text-center">Let's Play Boggle!</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table table-bordered" id="board">
        <tbody>
          {%for i in range(5)%}
          <tr>
            {% for j in range(5) %}
            <td>
              <div class="content text-center">{{board[i][j]}}</div>
            </td>
            {% endfor%}
          </tr>
          {%endfor%}
        </tbody>
      </table>

      <div id="score-box">
        Score:
        <div id="score"></div>
      </div>

      <form id="word-form">
        <input type="input" placeholder="Enter Your Word" name="word" id="word-submit">
        <button type="submit" class="btn btn-info">submit</button>
      </form>

      <ul id="added_words">Added Words:</ul>
      <p id="message"></p>

  
      <button id="reset" class="btn btn-info float-right">Play Again</button>

    </div>
  </div>
</div>
{% endblock %}